h1 { 
    font-size: 36px;
    color: #060A24;
    letter-spacing: 0px;
    line-height: 42px;
    padding: 0px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bold;
    @media screen and (min-width: 720px) { 
        font-size: 64px;
        margin-top: 142px;
        margin-left: 200px;
        margin-bottom: 300px;
        display: flex;
        flex-direction: row;
        padding: 4px;
        font-weight: bold;
        max-width: 100%;
    }
}

.tachado { 
    text-decoration: line-through;
    position: absolute;
    left: 110px;
    visibility: visible;
    @media screen and (min-width: 720px) { 
        font-size: 64px;  
        position: relative;
        top: 0px;
        left: 1px; 
    }
}

.section1 {
    p {
        font-size: 14px;
        max-width: 288px;
        letter-spacing: 0;
        line-height: 24px;
        margin-left: 20px; 
        margin: 20px;
        position: relative;
        top: -30px;
        font-family: 'IBM Plex Mono', monospace;
        color: #060A24;
        @media screen and (min-width: 720px) { 
            max-width: 628px;
            margin-left: 206px;
            letter-spacing: 0px;
            font-size: 16px;
            position: relative;
            top: -280px;
        }  
      }
 }       

.blue { 
    color: black;
    position: relative;
    left: 205px;
    top: -42px;
    max-width: 1px;
    display: inline;
    @media screen and (min-width: 720px) { 
        color: #0000EC;
        position: relative;
        top: 0px;
        left: 2px;
     }
}