#section5 {
    display: flex;
    justify-content: center;
    text-align: center; 
    box-sizing: border-box;
    clip-path: polygon(0 11%, 100% 0%, 100% 100%, 0% 100%);
    background-image: linear-gradient(225deg, hsl(240, 100%, 50%) 0%, #0000A3 100%);
    padding: 50px; 
    position: relative;
    top: 1790px;
    @media screen and (min-width: 720px) { 
        height: 518px;
        position: relative;
        top: -10px
    }
 }

.novedades { 
    font-family: 'IBM Plex Sans', sans-serif; 
    font-size: 36px;
    color: #fff;
    left: -0px;
    top: 10px;
    letter-spacing: 2px;
    @media screen and (min-width: 720px) {
        font-size: 50px; 
        left: -90px;
        top: 120px;
    }
}

.boton2 {
    font-family: 'IBM Plex Mono', monospace; 
    background-color: #00F3BB;
    padding: 20px;
    width: 320px;
    position: relative;
    top: 20px;
    left: 0px;
    z-index: 1;
    font-size: 16px;
    text-transform: uppercase;
    @media screen and (min-width: 720px) { 
        background-color: #00F3BB;
        padding: 20px;
        width: 320px;
        display: flex;
        justify-content: center;
        position: relative;
        left: -20px;
        top: 160px;
        display: inline-block;
        max-width: 350px;
    }   
}

.boton2:hover { 
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    color: #fff;
}