#section3 { 
    h2 { 
        color: #000;
        letter-spacing: 1px;
        position: relative;
        top: 350px;
        font-family: 'IBM Plex Sans', sans-serif;
        @media screen and (min-width: 720px) { 
            top: -150px;
            right: 85px;
            font-size: 48px;
        }
    }
}

#section3 { 
    img { 
        position: relative;
        top: 350px;
        @media screen and (min-width: 720px) { 
            max-width: 380px;
            max-height: 364px;
            position: relative;
            top: -140px;
            left: 40px;
            display: inline-block;
            width: 100%;
        }
    }
}